################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PetShop/dll-pet-shop/obj
/PetShop/PetShop/obj
/PetShop/pet-shop-test/obj
/PetShop/dll-pet-shop/bin/Debug/netcoreapp3.1
/PetShop/pet-shop-test/bin/Debug/netcoreapp3.1/cs
/PetShop/pet-shop-test/bin/Debug/netcoreapp3.1/de
/PetShop/pet-shop-test/bin/Debug/netcoreapp3.1/es
/PetShop/pet-shop-test/bin/Debug/netcoreapp3.1
/PetShop/PetShop/bin/Debug/netcoreapp3.1
